.cardLogin {
    width: 30rem;
    padding: 2rem;
    margin: auto;
    height: 37rem;
    background-color: #0d0947a3;
}

.cardRegister {
    width: 30rem;
    padding: 2rem;
    margin: auto;
    height: 28rem;
    background-color: #0d0947a3;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #181181, rgb(10, 9, 73));
}

.appContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: white;
}

.homeContainer {
    max-width: 100vw; 
    min-height: 100vh;
    background: linear-gradient(to right, #181181, rgb(10, 9, 73));
    /* max-width: 100vw; Agregado Nuevo */

}
.cuerpoContainer{
    width: 100vh;
    padding:2.5rem ;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.474) !important;
}
.cardPeliculas{
    background-color:#181181;
}
.cajaPeliculas{
    overflow: auto;
    display: flex;
    width: 100%;
    
    
}
