.custom-list {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
}

.titleMaratonPeliculas {
    font-family: initial;
    margin: 0;
    width: fit-content;
}

.parrafoDeVolverALogin {
    margin: auto !important;
    color: black;
    font-size: 1rem;
}